*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.blog-top {
  width:100%;
  height:400px;
  background-image:url(img/mv.jpg);
  background-size:cover;
  background-position:center;
}

.heading {
   color:#6c6b6b;
   padding:20px;
   font-size:15px;
   
}


a {
  color:#6c6b6b;
}

.blog{
  width:840px;
  margin: 50px auto;
}

.blog-box {
  margin-bottom:30px;
  border-bottom:1px solid #d1d1d1;
  padding-bottom: 30px;
}

.logo1{
  
}

.blog-heading{
  
}


